.App {
  text-align: center;
  color: #000;
}

.breadcrumb a {
  text-decoration: none;
}

.page-item .page-link {
  background-color: #616e7c;
  color: #fff;
}

.page-item .page-link:hover {
  background-color: #515964;
  color: #fff;
}

.page-item.active span {
  background-color: #d44243;
  border-color: #d44243;
}

.page-item.active span:hover {
  background-color: #b63838;
  border-color: #d44243;
}
